		</div>
	<!--Bottom-->
		<footer id="footer">
			<div class="container">
				<div class="row-fluid">
					<div class="span4 cp">
						&copy; 2014 <a target="_blank" href="http://www.iamtherealbill.com/" title="Bill Anderson">Bill Anderson</a>. All Rights Reserved.
					</div>
					<div class="span5">
						<ul class="social pull-right">
							<li><a href="https://groups.google.com/d/forum/redskull-users" alt="Discussion list"><i class="icon-envelope"></i></a></li>
							<li><a href="http://twitter.com/ucntcme"><i class="icon-twitter"></i></a></li>
							<li><a href="#"><i class="icon-linkedin"></i></a></li>
							<li><a href="https://plus.google.com/112346988179714606429/"><i class="icon-google-plus"></i></a></li>
							<li><a href="#"><i class="icon-youtube"></i></a></li>
							<li><a href="#"><i class="icon-rss"></i></a></li>
							<li><a href="https://github.com/therealbill/redskull"><i class="icon-github-alt"></i></a></li>
						</ul>
					</div>
				</div>
			</div>
		</footer>
		<!--/Footer-->

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/sl-slide.css">

	<script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
	<script src="/js/vendor/jquery-1.9.1.min.js"></script>
	<script src="/js/vendor/bootstrap.min.js"></script>
	<script src="/js/main.js"></script>
	</body>
</html>
