<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> 
<html class="no-js"> <!--<![endif]-->
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="google-site-verification" content="PIWhdMo0QDZip6T_PMKa6ivRX5IkUsCgRXXR61An-FI" />
		<title>Redskull.io | Home</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
		<link rel="stylesheet" href="/css/bootstrap-responsive.min.css">
		<link rel="stylesheet" href="/css/font-awesome.min.css">
		<link rel="stylesheet" href="/css/main.css">
		<link href='http://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="/css/sl-slide.css">

		<script src="/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>

		<!-- Le fav and touch icons -->
		<link rel="shortcut icon" href="/images/ico/favicon.ico">
		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/images/ico/apple-touch-icon-144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/images/ico/apple-touch-icon-114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="/images/ico/apple-touch-icon-72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="/images/ico/apple-touch-icon-57-precomposed.png">
	<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	   m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	     })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

	ga('create', 'UA-24873178-2', 'auto');
	ga('require', 'displayfeatures');
    ga('send', 'pageview');

	</script>
	<script>$('.dropdown-toggle').dropdown()</script>
	</head>

	<body>
		<nav class="navbar navbar-fixed-top" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#mainnav">
						<span class="sr-only">Toggle Nav</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="header-logo text-red" href="/index.html">RED SKULL</a>
				</div>
				<div class="collapse navbar-collapse pull-right" id="mainnav">
					<ul class="nav navbar-nav">
						<li class="{{if eq .Url "/"}}active{{end}}"><a href="/index.html">Home</a></li>
						<li><a href="https://github.com/therealbill/redskull">Repository</a></li>
						<li class="dropdown {{if eq .Url "/guides/"}}active{{end}}">
							{{ $currentNode := . }}
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Guides <i class="icon-angle-down"></i></a>
							<ul class="dropdown-menu" role="Menu">
								<li class="{{if eq .Url "/guides/"}}active{{end}}"><a href="/guides/"> All Guides List</a> </li>
							{{ range .Site.Menus.guides }}
								{{if .Name }}
								<li class="{{if $currentNode.IsMenuCurrent "guides" . }}active{{else if eq $currentNode.Url .Url}}active{{end}}">
									<a href="{{.Url}}"> {{ .Name }} </a> 
								</li>
								{{end}}
							{{end}}
							</ul>
						</li>
						<li class="{{if eq .Url "/blog/"}}active{{end}}"><a href="/blog/">Blog</a></li> 
						<li class="{{if eq .Url "/tags/"}}active{{end}}"><a href="/tags/">Tags</a></li> 
						<li class="{{if eq .Url "/about/"}}active{{end}}"><a href="/about/">About RedSkull</a></li>
					</ul>        
				</div><!--/.nav-collapse -->
			</div>
		</nav>
			<section class="title">
				<div class="container">
					<div class="row-fluid">
						<div class="span6">
							<h1 class="kaushan">{{.Title}}</h1>
						</div>
						<div class="span6">
							<ul class="breadcrumb pull-right">
								<li><a href="/index.html">Home</a></li>
								{{ if .Section }}
								<li class="active"><a href="/{{.Section}}/">{{.Section}}</a> </li>
								{{end}}
								<li class="active">{{.Title}}</li>
							</ul>
						</div>
					</div>
				</div>
			</section>
			<!-- / .title -->   
			<div id="index" class="container main">
